{% extends "layout.html" %}

{% block title %}
    C$50 Finance
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.symbol }}</td>
                <td>{{ row.shares }}</td>
                <td>{{ row.price | usd }}</td>
                <td>{{ row.total | usd}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    Cash: {{ cash | usd}} 
    <br>
    Total: {{  total  | usd}}
{% endblock %}